@import url('swiper.min.css');

.left-panel {
	position: absolute;
	left: 0;
	width: 90px;
	bottom: 0;
	z-index: 999;
	background: #ffffff;
	padding: 40px 0;
}

.left-panel .content-wrap {
	position: relative;
}

.right-panel {
	position: absolute;
	right: 0;
	top: 0;
	width: 90px;
	bottom: 0;
	z-index: 9999;
	background: #f4f4f4;
}

.right-panel:before {
	position: absolute;
	content: '';
	background: #fff;
	left: 0;
	bottom: 0;
	height: 190px;
	width: 100%;
}

.right-panel .content-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*** 

====================================================================
		Banner Section
====================================================================

***/

.banner-section {
	position: relative;
}

.banner-slider {
	position: relative;
	height: 100% !important;
	z-index: 9;
}

.banner-section .swiper-slide {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.banner-section .swiper-slide:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.55;
	content: "";
}

.banner-section .content-outer {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
}

.banner-section .content-box {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 240px 0 300px;
}

.banner-section .content-box .inner {
	position: relative;
	width: 100%;
	opacity: 0;
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.banner-section .swiper-slide-active .content-box .inner {
	opacity: 1;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.banner-section .content-box .inner:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-repeat: repeat;
	background-position: center;
	content: "";
}

.banner-section .content-box h1 {
	position: relative;
	font-size: 60px;
	line-height: 70px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
	font-family: var(--font-family-oswald);
	margin-bottom: 30px;
}

.banner-section .swiper-slide-active .content-box h1 {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 800ms;
	-o-transition-delay: 800ms;
	transition-delay: 800ms;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.banner-section h4 {
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 1.2em;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	padding-bottom: 20px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.banner-section .swiper-slide-active h4 {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.banner-section h4:before {
	position: absolute;
	content: '';
	bottom: 1px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fff;
}

.banner-section h4:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	height: 3px;
	width: 60px;
	background: var(--theme-color);
}

.banner-section h4.style-two {
	padding-bottom: 0px;
}

.banner-section h4.style-two:after,
.banner-section h4.style-two:before {
	display: none;
}

.banner-section .content-box .text {
	position: relative;
	font-size: 18px;
	line-height: 1.2em;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 0.02em;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	transform: translateX(-50px);
}

.banner-section .swiper-slide-active .text {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 1600ms;
	-o-transition-delay: 1600ms;
	transition-delay: 1600ms;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.banner-section .link-box {
	padding-top: 40px;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-transition-delay: 2000ms;
	-o-transition-delay: 2000ms;
	transition-delay: 2000ms;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}

.banner-section .swiper-slide-active .link-box {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.banner-section .link-box a {
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}



/* Banner Slider Option */
















